<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= user.username %></h4>
    <p class="card-text">
    <%= link_to image_tag(user.profile_image.thumb.url), user_path(user) %></p>
    <p class="card-text"><%= user.email %></p>
 
    <p class="card-text">Events created</p>
    <% user.events.each do |event| %>
      <h4><%= link_to event.title, event %></h4>
      <% event.event_images do |image| %>
      <img src="<%= image_tag image %>">
      <% end %>
    <% end %> 

    <p class="card-text">Events attending</p>
    <% user.events_attending.each do |event| %>
      <h4><%= link_to event.title, event %></h4>
    <% end %> 
    <p class="card-text"><small class="text-muted">Last updated <%= distance_of_time_in_words(Time.now, user.updated_at) %> ago</small></p>
  </div>
</div>
