<nav class="navbar navbar-light bg-faded">
 

    
      <div class="container brand">
         <%= link_to image_tag("mainlogo_copy.jpg"), root_path, class: "navbar-brand" %>
        </div> 
        <ul class="nav navbar-nav headtitles">
            <li class="nav-item">
              <%= link_to "Home", public_path %>
            </li>

            <li class="nav-item">
              <%= link_to "Events", events_path %>
            </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.username, current_user %>
            </li>
            <li class="nav-item">
              <%= link_to "Create Event", new_event_path %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign In", new_user_session_path %>
            </li>
            <li class="nav-item">
              <%= link_to "Register", new_user_registration_path %>
            </li>
          <% end %>
          
         
          </ul>
           
      
 
</nav>