<!DOCTYPE html>
<html>
  <head>
    <title>WDI21Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/public#index">
          <img alt="Brand" src="/londontown.jpg">
        </a>
          <% if current_user %>
            <%= current_user.username %>
            <p>
              <b>Image:</b>
              <%= image_tag @user.profile_image.url %>
            </p>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          <% else %>
             <%= link_to "Sign In", new_user_session_path %>
             <%= link_to "Register", new_user_registration_path %>
          <% end %>

      </div>
    </div>
  </nav>



    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    
  </body>
</html>


<div class='login'>
  
</div>